.social-media-div {
  font-size: 2em;
  text-align: center;
  margin: 2rem;
}

.icon-button {
    margin-bottom: 10px;
}

.github i {
    background-color: #333;
}

.linkedin i {
    background-color: #0e76a8;
}

.medium i {
    background-color: #000;
}

.gmail i {
    background-color: #ea4335;
}

.icon-button i {
    color: #ffffff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
}

.icon-button i:hover {
  background-color: var(--highlight-color);
}
