.experience-container {
    padding-left: 0;
}

.experience {
    /* display: flex;
    flex-wrap: wrap; */
    li {
        list-style-type: "👉    ";
    }
     /* Safari doesn’t support the content property on ::marker yet */
    /* ::marker {
        content: "👉    ";
    } */
    margin-bottom: 2em;
    align-items: start !important;
    gap: 0 2em !important;
}

.experience .description {
    padding-top: 0;
    margin-top: 0;
}

.experience p {
    width: fit-content;
    white-space: nowrap
}

.experience h3 {
    width: fit-content;
    white-space: nowrap
}

.experience h3 a {
    font-size: small;
    color: var(--secondary-text-color);
}

.duration {
    margin-top: 1em;
    padding-top: 0.5em;
    /* margin-right: 3rem; */
    padding-bottom: 0;
    margin-bottom: 0;
    flex: 0 0 11em !important;
    /* width: 17em; */
    text-wrap: nowrap;
    text-align: right;
}
