 @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(./assets/fonts/subset/OpenSans-VariableFont_wdth,wght-subset.woff2) format('woff2');
  unicode-range: U+A,U+20,U+2C,U+2E,U+41,U+43,U+4A,U+4D,U+50,U+52,U+53,U+58,U+5A,U+61-69,U+6C-70,U+72-79;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url(./assets/fonts/subset/PlayfairDisplay-VariableFont_wght-subset.woff2) format('woff2');
  unicode-range: U+A,U+20,U+42,U+43,U+48,U+4D,U+52,U+58,U+5A,U+61,U+63,U+65,U+67,U+68,U+6C-6F,U+73-75;
}

@font-face {
  font-family: 'Monsieur La Doulaise';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/subset/MonsieurLaDoulaise-Regular-subset.woff2) format('woff2');
  unicode-range: U+20,U+58,U+5A,U+65,U+67,U+68,U+6E,U+73,U+75;
 }