/* @font-face {
    font-family: "Monsieur La Doulaise";
    font-display: block;
    src: url("./assets/fonts/MonsieurLaDoulaise-Regular.woff2") format("woff2"), url("./assets/fonts/MonsieurLaDoulaise-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display";
    font-display: swap;
    src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.woff2")
        format("woff2-variations"), url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
        format("truetype-variations");
    font-style: normal;
    font-weight: 1 999;
    font-stretch: 25% 200%;
}

@font-face {
    font-family: "Playfair Display";
    font-display: swap;
    src: url("./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2")
        format("woff2-variations"), url("./assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
        format("truetype-variations");
    font-style: italic;
    font-weight: 1 999;
    font-stretch: 25% 200%;
}

@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: url("./assets/fonts/OpenSans-VariableFont_wdth,wght.woff2")
        format("woff2-variations"), url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
        format("truetype-variations");
    font-style: normal;
    font-weight: 1 999;
    font-stretch: 25% 200%;
}

@font-face {
    font-family: "Open Sans";
    font-display: swap;
    src: url("./assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2")
        format("woff2-variations"), url("./assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf")
        format("truetype-variations");
    font-style: italic;
    font-weight: 1 999;
    font-stretch: 25% 200%;
} */

:root {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    --logo-font: "Monsieur La Doulaise"
}

:root {
    --background-color: rgb(15 23 42);
    --highlight-color: rgb(94 234 212);
    --primary-text-color: rgb(148 163 184);
    --secondary-text-color: rgb(100, 116, 139);
    --skill-text-color: rgb(94 234 212);
    --button-text-color: rgb(226, 232, 240);
    --header-text-color: rgb(226, 232, 240);
}

/* * {
    box-sizing: border-box;
} */

h1 {
    /* font-family: "Playfair Display", serif; */
    text-align: center;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    color: var(--header-text-color)
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.main-container {
    width: fit-content;
    max-width: 60em;
    margin: auto;
    padding: 2rem;
}

.section.container {
    margin: 0 0 5em 0;
}

.section.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4em 2em;
    align-items: end;
    margin: 0;
}

.section.content > * {
    flex-basis: 100%;
    min-width: 0;
}

@media (min-width: 48em) {
    .section.content {
        flex-wrap: nowrap;
    }
}
